@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ff9317;
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: center;
}

.column-name {
    font-weight: bold;
    font-size: 20px;
}

.content {
    display: flex;
}

.box {
    display: block;
    justify-content: center;
    background: #ddd;
    text-align: center;
    margin: 1% auto auto;
    padding: 5px;
    width: 30%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.box__message {
    display: block;
    justify-content: center;
    background: #ddd;
    text-align: center;
    margin: 1% auto auto;
    padding: 5px;
    width: 32%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: relative;
}

.box__message--hide {
    display: none;
}

.data {
    display: block;
}

.task {
    margin: 10px;
    display: block;
    border: #333333 solid;
    border-radius: 15px;
    background: #b9b9b9;
}

.taskoptions {
    display: none;
}

.taskoptions--show {
    display: block;
}

.cross {
    background: none;
    color: #000;
    border: none;
    position: absolute;
    right: 5px;
    top: 2px;
    height: auto;
    min-height: auto;
    font-size: 1.5em;
}

.cross:hover {
    color: #f00;
    cursor: pointer;
}

.butin {
    background: #387ace;
    border-radius: 15px;
    border: none;
    outline: none;
    font-weight: bold;
    width: 50%;
    transition-duration: 0.3s;
}

.butin:hover {
    background: #295f9b;
    border-radius: 14px;
}
